@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Public+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    background-color: #3e4c33;
    color: #fffaeb;
}

body {
    font-family: Montserrat, sans-serif;
}

/*navigation/ logo*/

header {
    background-color: #3e4c33;
    text-align: center;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto minmax(360px, 1fr) 1fr;
}

.logo {
    margin: 0 auto;
}

.nav-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.nav-toggle:focus~.nav-toggle-label {
    outline: 3px solid #3e4c33;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 2em;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 2em;
    left: 0;
    width: 30%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    background-color: #3e4c33;
    border-top: 1px solid #a22d59;
    padding-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #fffaeb;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #a22d59;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 1 / 5;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support stuff */
        grid-column: 4 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #a22d59;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/*hero image*/
#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/heroone.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*hero image zoom*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*Mains*/
.main-index,
.main-about,
.main-offer,
.main-form {
    padding: 10px;
}

/*Teaching - to section*/
#teaching-to {
    height: auto;
}

h2:hover {
    transform: scale(1.2);
    color: #fffaeb;
}

h2 {
    font-size: larger;
}

#left-about {
    padding: 30px 10px 20px;
    width: 33%;
    float: left;
}

#right-about {
    padding: 30px 10px 20px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3e4c33;
    width: 100%;
    margin: 15px 0;
}

.detailed-hr {
    border: none;
    height: 5px;
    background-color: #a22d59;
    background-image: linear-gradient(to right, #a22d59, #fffaeb);
    margin: 75px 0;
}

.hr-detailed {
    border: none;
    height: 5px;
    background-color: #a22d59;
    background-image: linear-gradient(to right, #fffaeb, #a22d59);
    margin: 75px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    text-align: right;
}

#subtitulo {
    font-size: 200%;
    padding: 30px;
}

#circle-container {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 50px;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/pthree.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
}

#introduction {
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: x-large;
    padding: 10px 30px;
    display: flex;
    align-items: center;
}

/*Media queries - for larger to medium screen size for teaching-to and testimonial*/
@media screen and (max-width: 800px) {
    #teaching-to {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    #subtitulo {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    #center-about {
        clear: both;
        width: 100%;
        height: auto;
        float: left;
        padding: 0;
    }

    #introduction {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #testimonial>div {
        width: 100%;
        clear: both;
        height: auto;
        margin: 0 auto;
    }


    #testimonial div {
        width: 100%;
    }

    #hero-image {
        width: 100%;
        height: auto;
    }

    #aboutme-hero {
        width: 100%;
        height: auto;
    }

    #offer-hero {
        width: 100%;
        height: auto;
    }
}

/*Testimonial*/

#testimonial {
    height: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#testimonial div {
    background-color: #a22d59;
    width: 20%;
    padding: 20px;
    border: 2px solid #3e4c33;
    border-radius: 10px;
    box-sizing: border-box;
}

#testimonial h3 {
    background-color: #a22d59;
    color: #fffaeb;
    margin-bottom: 10px;
}

#testimonial p {
    background-color: #a22d59;
    color: #fffaeb;
    line-height: 1.6;
}

/*About me*/
#about {
    height: auto;
}

#aboutme {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    clear: both;
}

#aboutme-hero {
    height: 500px;
    width: 100%;
    background: url('../images/herotwo.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.aboutphoto {
    margin: 0 auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
    padding: 2em;
}

#aboutend {
    font-size: xx-large;
    font-weight: bold;
}

/*hero aboutme-hero image zoom*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*footer*/
footer {
    height: auto;
}

h4 {
    padding: 1em;
    font-weight: 300;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
}

/*Style for the form*/
fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px #fffaeb;
    border-radius: 4px;
    min-width: 200px;
}

legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: #fffaeb;
}

#form-group {
    height: 500px;
    width: 100%;
    padding: 5px 30px;
}

.form-group {
    float: left;
    width: 50%;
    margin-right: 2%;
}

.form-group textarea {
    width: 100%;
}

label {
    display: block;
    color: #fffaeb;
    width: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    background-color: #fffaeb;
    color: #3e4c33;
    padding: 5px;
}

#question_comment {
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #fffaeb;
}

.submit {
    display: block;
    margin-top: 10px;
    background-color: #fffaeb;
    color: #3e4c33;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.hr1 {
    border-top: 1px solid #fffaeb;
    width: 100%;
    margin: 5px 0;
}

/*Thank you page*/
#thank-you-message {
    padding: 75px;
    height: 300px;
    background-color: #3e4c33;
    text-align: center;
    font-size: 200%;
}

/*style for offer.html*/
#offer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.offer-type {
    grid-column: 3/4;
    background-color: #a22d59;
    width: 66%;
    height: auto;
    float: left;
    margin-bottom: 10px;
    border: 2px solid #a22d59;
    border-radius: 10px;
    padding: 25px;
}

#offer h2,
#offer p,
#offer table,
#offer ul,
#offer li,
#offer tr,
#offer td,
.offerphoto {
    background-color: #a22d59;
    color: #fffaeb;
    line-height: 1.6;
}

.moreinfo {
    float: right;
    font-size: medium;
    background-color: #a22d59;
}

.offerphoto {
    grid-column: 1/ 4;
    width: auto;
    max-width: 350px;
    max-height: 350px;
    float: right;
}

.offer-container {
    background-color: #a22d59;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.offer-type {
    flex: 1;
}

.offer-image {
    flex: 1;
}

.offer-image img {
    max-width: 100%;
}

#offer-hero {
    height: 500px;
    width: 100%;
    background: url('../images/herothree.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*hero image zoom*/
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/*Media queries - Hero images for smaller screens*/

@media screen and (max-width: 800px) {
    #hero-image {
        height: 250px;
        width: 100%;
        background: url('../images/heroones.jpg') no-repeat center center;
        animation-name: none;
    }

    #aboutme-hero {
        height: 250px;
        width: 100%;
        background: url('../images/herotwos.jpg') no-repeat center center;
        animation-name: none;
    }

    #offer-hero {

        height: 250px;
        width: 100%;
        background: url('../images/herothrees.jpg') no-repeat center center;
        animation-name: none;
    }

    #testimonial {
        /* Remove display: flex and justify-content: space-between; */
        height: auto;
        padding: 30px;
    }

    #testimonial div {
        background-color: #a22d59;
        width: 100%;
        /* Set width to 100% to take up the entire width */
        padding: 20px;
        border: 2px solid #3e4c33;
        border-radius: 10px;
        box-sizing: border-box;
        margin-bottom: 20px;
        /* Add margin to create spacing between divs */
    }

    #testimonial h3 {
        background-color: #a22d59;
        color: #fffaeb;
        margin-bottom: 10px;
    }

    #testimonial p {
        background-color: #a22d59;
        color: #fffaeb;
        line-height: 1.6;
    }
}