@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Public+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    background-color: #3e4c33;
    color: #fffaeb;
}

body {
    font-family: Montserrat, sans-serif;
}

/*navigation/ logo*/

header {
    background-color: #3e4c33;
    text-align: center;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto minxman(600px, 1fr) 1fr;
}

.logo {
    margin: auto;
    max-height: 80px;
    max-width: 80px;
    float: right;
    align-items: center;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 10px;
    left: 0;
    margin-left: 1em;
    height: 1em;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: #fffaeb;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 100ms ease-in-out;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: #fffaeb;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav a:hover {
    color: #a22d59;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle: checked~nav a {
    opacity: 1;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    /*might change the color later*/
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .title {
        grid-column: 1/ 4;
        justify-self: left;
        margin-left: 0em;
    }

    nav {
        all: unset;
        grid-column: 4/ 4;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    nav ul {
        display: flex;
        justify-content: flex-end;

    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }


    title {

        text-align: left;
        margin: auto;
    }

    /*hero image*/

    #hero-image {
        height: 500px;
        width: 100%;
        background: url('../images/canvahero.jpg') no-repeat center center;
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    /*hero image zoom*/

    @keyframes hero-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }

    /*Teaching - to section*/

    #teaching-to {
        height: 1200px;
    }

    h3:hover {
        transform: scale(1.1);
        color: #fffaeb;
    }

    h3 {
        font-size: larger;
    }

    #left-about {
        padding: 30px 10px 20px;
        width: 33%;
        float: left;
    }

    #right-about {
        padding: 30px 10px 20px;
        width: 33%;
        float: right;

    }

    #center-about {
        width: 33%;
        margin: 0 auto;
    }

    hr {
        border-top: 1px solid #3e4c33;
        width: 100%;
        margin: 75px 0;
    }

    .detailed-hr {
        border: none;
        height: 5px;
        background-color: #a22d59;
        background-image: linear-gradient(to right, #a22d59, #fffaeb);
        margin: 75px 0;
    }

    .hr-detailed {
        border: none;
        height: 5px;
        background-color: #a22d59;
        background-image: linear-gradient(to right, #fffaeb, #a22d59);
        margin: 75px 0;
    }

    .left-about-heading {
        width: 60%;
        float: right;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
    }

    .right-about-heading {
        width: 60%;
        float: left;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
        text-align: right;
    }

    #subtitulo {
        font-size: 200%;
        padding: 30px;
    }

    #circle-container {
        width: 100%;
        height: 100%;
        padding: 30px;
        border-style: solid;
        border-color: transparent;
        border-width: 2px;
        border-radius: 50px;
        margin: 0 auto;

    }

    #circle-cover-bg {
        background: url('../images/p3.png') no-repeat center center;
        background-size: cover;
        width: 100%;
        padding-top: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    #introduction {
        height: 600px;
        width: 100%;
        margin: 0 auto;
        font-size: medium;
        padding: 10px 30px;
        display: flex;
        align-items: center;
    }

    /*for larger to medium screen size for teaching-to*/
    @media screen and (max-width: 1200px) {
        #teaching-to {
            width: 65%;
            height: 1200px;
            margin: 0 auto;
        }

        #subtitulo {
            padding: 30px 0;
            margin: 0;
        }

        #left-about,
        #right-about {
            width: 100%;
            float: left;
            padding: 0;
        }

        #center-about {
            clear: both;
            width: 100%;
            float: left;
            padding: 0;
        }

        .hr-detailed {
            display: none;
        }
    }

    /*Testimonial*/

    #testimonial {
        height: 600px;
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #testimonial div {
        background-color: #a22d59;
        width: 20%;
        margin-bottom: 30px;
        padding: 20px;
        border: 2px solid #3e4c33;
        border-radius: 10px;
    }


    #testimonial h3 {
        background-color: #a22d59;
        color: #fffaeb;
        margin-bottom: 10px;
    }

    #testimonial p {
        background-color: #a22d59;
        color: #fffaeb;
        line-height: 1.6;
    }

    /*About me*/

    #about {
        height: auto;
    }

    #aboutme {
        width: 50%;
        float: center;
        line-height: 20px;
        clear: both;
        margin-bottom: 50px;
        text-align: left;
        padding: 75px;
    }

    #aboutme-hero {
        height: 500px;
        width: 100%;
        background: url('../images/aboutme-hero.jpg') no-repeat center center;
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    /*hero aboutme-hero image zoom*/

    @keyframes hero-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }



    #hrsimple {
        border-top: none;
        padding-top: 5px;
    }

    /*footer- urgent must amend footer*/
    footer {
        height: 100px;
    }

    h4 {
        padding: 30px;
        font-weight: 300;
    }

    .social-media {
        text-align: center;
    }

    .social-media>li {
        display: inline;
    }

    .social-media i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
    }

    h2 {
        padding: 30px 10px;
    }

    /*Style for the form*/

    fieldset {
        margin: 2em 0;
        padding: 1em 2em;
        border: solid 1px #fffaeb;
        border-radius: 4px;
        min-width: 200px;
    }

    legend {
        font-size: 1.25em;
        padding: 0 .25em;
        color: #fffaeb;
    }

    #form-group {
        height: 500p;
        width: 100%;
        padding: 5px 30px;
    }

    .form-group {
        float: left;
        width: 50%;
        margin-right: 2%;
        padding: 5px 30px;
    }

    .form-group textarea {
        width: 100%;
    }

    .checkbox-group:after {
        content: "";
        display: table;
        clear: both;
    }

    .checkbox-group input[type="checkbox"] {
        display: inline-block;
        padding-top: 0;
        margin-top: 0;

    }

    label {
        display: block;
        color: #fffaeb;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        background-color: #fffaeb;
        color: #3e4c33;
        padding: 5px;
    }

    #question_comment {
        min-height: 8em;
        min-width: 100%;
        padding: .5em;
        border: solid 1px #fffaeb;
    }

    .submit {
        position: absolute;
        background-color: #fffaeb;
        color: black;
        font-weight: 200;
    }

    .hr1 {
        border-top: 1px solid #fffaeb;
        width: 100%;
        margin: 5px 0;
    }

    input[name="found_us"] {
        padding: 5px;
    }

    #confirmation-message {
        display: none;
        margin-top: 20px;
        padding: 10px;
        background-color: #f0f0f0;
        text-align: center;
    }


    /*style for offer.html*/

    /*Offers*/

    #offer {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 1200px;
    }

    #offer-type {
        background-color: #a22d59;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding: 0 auto;
        border: 2px solid #3e4c33;
        border-radius: 10px;
    }


    #offer-title {
        background-color: #a22d59;
        color: #fffaeb;
        margin-bottom: 10px;
    }

    #offer p {
        background-color: #a22d59;
        color: #fffaeb;
        line-height: 1.6;
    }

    #offer li {
        background-color: #a22d59;
        color: #fffaeb;
        line-height: 1.6;
    }

    #offer-hero {
        height: 500px;
        width: 100%;
        background: url('../images/offer-hero.jpg') no-repeat center center;
        animation-name: hero-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    /*hero image zoom*/

    @keyframes hero-zoom {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.1);
        }
    }